---
---

//@import "{{ site.theme }}";

time {display: block; text-align: right; color: #a9aaaa;}

article:not(:last-child) { border-bottom: 1px solid #e0e5e5; }

.markdown-body h1,.markdown-body h2,.markdown-body h3 {border-bottom: none;}

p{color: rgba(0,0,0,0.83);}

h1 a, h2 a, h3 a{color: #000;}